<section [ngClass]="{'wrapper': wrapper}" id="{{id}}">
  <div class="container">
    <div class="content">
      <h2 class="title">{{title}}</h2>
      @if(text) {<p class="text">{{text}}</p>}

      @if(iconsList) {
      <ul class="icon-list">
        <li *ngFor="let img of iconsList">
          <img src="{{img.src}}" alt="{{img.alt}}">
        </li>
      </ul>
      }

      @if(projectList){
      <div class="grid-list">
        <app-card *ngFor="let i of Arr(num).fill(1)">
        </app-card>
      </div>}
      @if(btnTitle){
      <button class="btn__primary">{{btnTitle}}</button>}
    </div>
  </div>
</section>