<section class="about wrapper" id="about-me">
  <div class="about__content container">
    <div class="description">
      <h2 class="description__title title">
        {{mock.title}}
      </h2>
      <p class="description__text">
        {{mock.description}}
      </p>
    </div>
    <div class="experiance">
      <h2 class="experiance__title title">
        {{exp.title}}
      </h2>
      <div class="experiance__group" *ngFor="let experiance of exp.experiance">
        <app-experiance-card [content]="experiance" class="devider"></app-experiance-card>
      </div>
    </div>
    <div class="education">
      <h2 class="education__title title">
        {{ed.title}}
      </h2>
      <div class="education__group" *ngFor="let education of ed.education">
        <app-experiance-card [content]="education" class="devider"></app-experiance-card>
      </div>
    </div>
  </div>
</section>