<header class="header">
  <div class="container">
    <div class="top-bar">
      <div class="top-bar__title">
        <h3 class="title"> My Portfolio</h3>
      </div>
      <div class="top-bar__nav">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="projects">
                Projects
              </a>
            </li>
            <li class="nav__item">
              <a href="skills">
                Skills
              </a>
            </li>
            <li class="nav__item">
              <a href="about-me">
                About me
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <button class="dark-mode-btn " id="dark-mode-btn" (click)="darkMode()"
        [ngClass]="{'dark-mode-btn--active': isDarkMode}">
        <img class="dark-mode-btn__icon" src="../assets/images/icons/sun.svg" alt="light mode">
        <img class="dark-mode-btn__icon" src="../assets/images/icons/moon.svg" alt="dark mode">
      </button>
    </div>
  </div>
</header>