<header class="header" (scroll)="onscroll()" [ngClass]="unpined ? 'unpinned' : ''">
  <div class="container">
    <div class="top-bar">
      <div class="top-bar__title">
        <h3 class="title"><a href="{{mock.link}}">{{mock.title}}</a></h3>
      </div>
      <div class="top-bar__nav">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item" *ngFor=" let nav of mock.nav">
              <a href="{{nav.link}}">
                {{nav.name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <button class="dark-mode-btn" id="dark-mode-btn" (click)="themeSwicher()"
        [ngClass]="{'dark-mode-btn--active': isDarkMode}">
        <ng-container *ngFor="let btn of btnGroup">
          <img class="dark-mode-btn__icon" src="{{btn.src}}" alt="{{btn.alt}}">
        </ng-container>
      </button>
    </div>
  </div>
</header>