// fonts
$font-main:'DM Sans', sans-serif;
$font-accent:'Poppins', sans-serif;
$bold: 700;
$medium: 500;
$regular: 400;

// colors
$white: #FFF;
$black: #171718;
$accent-lavand: #5C62EC;

// dark

// light
$card-bg-dark: #363636;
$text-color-dark: #CCCCCC;
$text-color-secondary-dark: #CCCCCC;
$link-color-dark: #FFF;
$bg-dark: #191919;


//other colors

$green-text: #018c0f;
$ligth-green-bg: #d7ffe0;
$devide-line: #EBEAED;

//size 
$container: 1260px;