<div class="card">
  <img src="../../../assets/images/previews/prev01.png" alt="prev" class="card__img">
  <div class="card__contetn">
    <h3 class="card__title">Project Title goes here</h3>
    <p class="card__text">
      This is sample project description random things are here in description This is sample project lorem ipsum
      generator
      for dummy content
    </p>
    <p class="card__info"> <span class="card__info__title">Tech stack :</span> HTML , JavaScript, SASS, React</p>
    <div class="card__link-group">
      <div class="card__link">
        <img class="card__icon" src="../../../assets/images/icons/akar-icons_link-chain.png" alt="link-chain">
        <a class="link" href="#!">Live Preview</a>
      </div>
      <div class="card__link-block">
        <img class="card__icon" src="../../../assets/images/icons/github-dark.svg" alt="github">
        <a class="link" href="#!">View Code</a>
      </div>
    </div>
  </div>

</div>