<div class="job">
  <div class="block__left">
    <div class="job__title">
      {{content.title}}
    </div>
    <div class="job__company">
      <img class="job__icon" src="../../../assets/images/icons/office-icon-dark.png" alt="office">
      {{content.company}}
    </div>
  </div>
  <div class="block__rigth">
    <div class="job__type">
      {{content.type}}
    </div>
    <div class="job__time">
      <img class="job__icon" src="../../../assets/images/icons/calender-icon-dark.png" alt="calendar">
      {{content.time}}
    </div>
  </div>
</div>