<div class="job">
  <div class="block__left">
    <div class="job__title">
      Junior Angular Developer
    </div>
    <div class="job__company">
      <img class="job__icon" src="../../../assets/images/icons/office-icon-dark.png" alt="office">
      Inventosoft
    </div>
  </div>
  <div class="block__rigth">
    <div class="job__type">
      Full Time
    </div>
    <div class="job__time">
      <img class="job__icon" src="../../../assets/images/icons/calender-icon-dark.png" alt="calendar">
      Sep 2021 - Dec 2021
    </div>
  </div>
</div>