@import "/src/assets/style/utils/variables";
@import "/src/assets/style/utils/mixins";

.skills {
  // background-color: var(--bg);
  transition: $transition;
  &__content {
    color: var(--text-color);
    text-align: center;
  }
  &__title {
    font-size: 48px;
    text-align: center;
    @include Poppins-bold;
  }

  &__text {
    color: var(--text-color-secondary);
    font-size: 32px;
    @include Poppins-regular;
    margin-bottom: 100px;

  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 70px;
    &__item {
    }
  }
}

img {
  width: 120px;
  height: 120px;
}
