@import "/src/assets/style/utils/variables";
@import "/src/assets/style/utils/mixins";

.footer {
  padding: 50px 0;
  background-color: var(--layout);
  transition: $transition;
  color: var(--text-color);
}

.socials {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 32px;
  &__icon {
  }
}

.email {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.5px;
  @include DM-regular;
}
