@import "/src/assets/style/utils/variables";
@import "/src/assets/style/utils/mixins";

.projects {
  // background-color: var(--bg);
  transition: $transition;
  &__title {
    color: var(--text-color);
    font-size: 48px;
    text-align: center;
    
    @include Poppins-bold;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(323px, 1fr));
    justify-items: center;
    gap: 50px;
    row-gap: 65px;
  }
}
