/* You can add global styles to this file, and also import other style files */
@import "./assets/style/utils/reset";
@import "./assets/style/utils/variables";
@import "./assets/style/utils/mixins";

@import "./assets/style/base";

body {
  background-color: var(--bg);
  padding-bottom: 66px;
}

html,
body {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;

}

app-root {
  min-height: 100%;
  display: block;
  position: relative;
  // padding: 15rem 0 11.5rem 0; // height of the footer
  padding: 0rem 0 11.5rem 0; // height of the footer

}

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: $transition;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
