/* You can add global styles to this file, and also import other style files */
@import "./assets/style/utils/reset";
@import "./assets/style/utils/variables";
@import "./assets/style/utils/mixins";

@import "./assets/style/base";

body {
  background-color: $bg-dark;
}

html,
body {
  height: 100%;
  position: relative;
}

app-root {
  min-height: 100%;
  display: block;
  position: relative;
  padding: 15rem 0 20rem 0; // height of the footer
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
